body{
    display: flex;
}
#difficulty{
    margin-left: 250px;
    font-size: 30px;
    align-content: center;
}
h2:hover{
    color: red;
}

.canvas{
    margin-left: 30%;
    border-radius: 20px;
    box-shadow: 10px 10px 5px lightblue;}  
.health{
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
    margin-left: 30%;
}